# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

test
PLAN_FRONTEND_NUXT4.md
BACKEND_ENDPOINTS.md
BLUEPRINT_LOANSOFT.md
